
@{
    ViewBag.Title = "Home";
}


<form asp-action="Home" method="Post">

    <fieldset class="text-center">
        <h2>Mission</h2>
        <h3>Our mission is to make the search for recipes much easier.</h3>
        <h2>Vision</h2>
        <h3>Our vision is to be the best site for recipes.</h3><br>
    </fieldset><br>
    <fieldset class="text-center">
        <h3>Click <a asp-action="AddRecipe">here</a> to start adding your delicious recipies!</h3>
    </fieldset>
</form><br>

