
@{
    ViewBag.Title = "Thanks";
}

<form asp-action="Thanks" method="Post">
    <fieldset class="text-center">
        <div><h2>Thank you!</h2></div>

        <p>Click <a asp-action="RecipeList">here</a> to see recipe list.</p>
    </fieldset><br>
</form>

